<script src="https://d3js.org/d3.v4.min.js"></script>
<h1>哪吒</h1>
<p class="summary">我有些小，也有些浮躁～</p>
<a class="button" href="/register">弄个帐号</a>
<a class="button" href="/login">登录</a>
<a class="button" href="/trend">趋势</a>
<a class="button" href="/news">新鲜事</a>
<a class="button" href="/about">关于</a>
