<h1>登录</h1>
<p class="summary"></p>
<p><input type="text" name="username" value="" placeholder="账户"></p>
<p><input type="text" name="userpass" value="" placeholder="密码"></p>
<button class="button">立刻登录</button>
<a class="button" href="/register">没有帐号？</a>
