<h1>注册</h1>
<p class="summary">麻麻说，有了帐号就可以交易了呢～</p>
<!--
<p class="summary">目前不开放注册，请找有帐号的人邀请。</p>
<p class="summary">或发邮件到i@nezha.pro取得随机登录密码</p>-->
<p><input type="text" name="username" value="" placeholder="账户"></p>
<p><input type="text" name="userpass" value="" placeholder="密码"></p>
<button class="button">立刻登录</button>
<a class="button" href="/">返回首页</a>
